* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.info {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}

body {
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  -webkit-animation: Background 15s ease infinite;
  -moz-animation: Background 15s ease infinite;
  animation: Background 15s ease infinite;
}
@-webkit-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.container {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid white;
  box-sizing: content-box;
  padding: 5px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.table div {
  border: 1px solid white;
  width: 32%;
  height: 32%;
  border-radius: 20px;
  margin: 0.66%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 80px;
  color: white;
  padding: 2%;
}

.table div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.bgGreen {
  background-color: lightgreen !important;
}

.result {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.result div{
  width: 100%;
  font-size: 40px;
}

.reset button {
  width: 70px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
